<div class="head_bar">
    <div class="head_bar_container">
        <div class="currency">
            <label for="currency">Currency:</label>
            <span>USD</span>
        </div>
        <div class="register">
            <ul class="row">
            <% if(!isLoggedIn) { %>
                <li class="col"><a href="/signup">Register</a></li>
                <li class="col"><a href="/login">Sign In</a></li>
                <% } else { %>
                <li class="col"><a href="/profile"><%= user.email %></a></li>
                <li class="col"><a href="/logout">Log out</a></li>
                <% } %>
            </ul>
        </div>
        <div class="order">
            <i class="fas fa-shopping-cart"></i>
                <%  if(isLoggedIn) { %>
                    <a id="cart_items" href="/orders"><%= user.cart.length %> items</a>
                <% }  else { %>
                <a href="/orders">Empty</a>
                <% } %>
        </div>
</div>
</div>
<!-- HEADER AND VIEW OF WEBSITE-->
<div class="header">
<div class="nav">
    <div class="logo_parent"><a href="/" class="logo"><strong>AVENUE</strong> FASHION</a></div>
    <div class="categories">
         <ul>
        <li class="categories_title"><a href="/mens">Men</a></li>
        <li class="categories_title"><a href="/womens">Women</a></li>
        <div class="womens_category"></div>
        <li class="categories_title"><a href="/brand">The Brand</a></li>
        <div class="brands_category"></div>
        <li class="categories_title"><a href="/stores/london">Local Stores</a></li>
        <div class="stores_category"></div>
        <li class="categories_title"><a href="/lookbook">Look Book</a></li>
        <div class="books_category"></div>
    </ul>
    </div>
    <div class="search">
        <form action="" method="post">
            <input type="text" name="search" id="searchBox" placeholder="Search...">
            <a href=""><i class="fas fa-search"></i></a>
        </form>
    </div>
    <div class="nav_toggle_container" id="nav_toggle_container">
        <div onclick="collapse()" class="nav_toggle" id="nav_toggle">
            <div class="nav_toggle_button rotation1" id="rotate1"></div>
            <div class="nav_toggle_button" id="rotate2"></div>
            <div class="nav_toggle_button rotation2" id="rotate3"></div>
        </div>
        <div class="categories_mobile" id="categories_mobile">
            <ul>
                <% if(isLoggedIn) { %>
                    <li class="categories_title_mobile"><a href="/profile">Profile</a></li><% } %>
                    <li class="categories_title_mobile"><a href="/orders">Cart</a></li>
                    <li class="categories_title_mobile"><a href="/mens">Men</a></li>
                    <li class="categories_title_mobile"><a href="/womens">Women</a></li>
                    <li class="categories_title_mobile"><a href="/brand">The Brand</a></li>
                    <li class="categories_title_mobile"><a href="/stores/london">Local Stores</a></li>
                    <li class="categories_title_mobile"><a href="/lookbook">Look Book</a></li>
                    <% if(isLoggedIn) { %>
                    <li class="categories_title_mobile"><a href="/logout">Log Out</a></li><% } else { %>
                    <li class="categories_title_mobile"><a href="/login">Sign In</a></li>
                    <li class="categories_title_mobile"><a href="/signup">Sign Up</a></li>
                    <% } %>
       </ul>
       </div>
    </div>
</div>

<div class="brand_view">
    <div class="title_center">
        <h1 class="brand_title"><strong><%= pageTitleBold %></strong> <%= pageTitleLight %></h1>
        <h3 class="brand_slogan"><%= pageSlogan %></h3>
    </div>
    <div class="mens_category" style="display: none;">
        <ul>
            <h3>Casuals</h3>
            <li><a href="#">Jackets</a></li>
            <li><a href="#">Hoodies & Sweatshirts</a></li>
            <li><a href="#">Polo Shirts</a></li>
            <li><a href="#">Sportswear</a></li>
            <li><a href="#">Trousers & Chinos</a></li>
            <li><a href="#">T-Shirts</a></li>
        </ul>
    </div>
</div>
</div>
